<!-- FIXME переписать названия классов -->

<div class="ticket-expansion">
    <div class="ticket-expansion_container">
        <div class="ticket-expansion_header">
            <img class="ticket-expansion_logo" src="https://i.ibb.co/L0xJmnk/Group-2-8.png" alt="logo" border="0">
            <img class="ticket-expansion_arrow" src="https://i.ibb.co/9pCgcxJ/arrow.png" alt="arrow" border="0">
        </div>


        <ul class="ticket-expansion_list active">
            <div class="ticket-expansion-plug">
                <h1>Тикетов нет</h1>
                <p>Для добавления тикета нажмите на плюс</p>
            </div>
        </ul>


        <ul class="ticket-expansion_list complite"></ul>

        <div class="ticket-ngrok">
            <div class="ticket-expansion-inputs">

                <label for="storage">Код ngrok</label>
                <input type="text" class="storage">
                <button class="ticket-input-button ngrok-button">ОК</button>
            </div>

        </div>

        <div class="ticket-controls">

            <div class="ticket-expansion_addTicket">
                <div class="ticket-expansion_addTicket-changeVisible">
                    <div class="ticket-expansion_changeVisible_icon">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>



                <div class="ticket-expansion-inputs">
                    <label for=".ticket-input-name">Название тикета</label>
                    <input type="text" class="ticket-input ticket-input-name">

                    <label for=".ticket-input-link">Ссылка на тикет</label>
                    <input type="text" class="ticket-input ticket-input-link">

                    <button class="ticket-input-button ticket-input">
                        Добавить тикет
                    </button>
                </div>
                <div class="ticket-expansion-validate">
                    <p>Тикет с таким кодом уже существует!</p>
                </div>
            </div>
        </div>
    </div>
</div>